[submodule "praxis"]
	path = praxis
	url = git@github.com:johnnyboyy/Praxis.git
[submodule "corpora"]
	path = corpora
	url = git@github.com:johnnyboyy/corpora.git
[submodule "domains"]
	path = domains
	url = git@github.com:johnnyboyy/domains.git
[submodule "uiux"]
	path = uiux
	url = git@github.com:johnnyboyy/uiux.git
